netframework/Common/bin/
netframework/Common/obj/
netframework/netframework/bin/
netframework/netframework/obj/
netframework/packages/
netframework/UnitTestProject/bin/
netframework/UnitTestProject/obj/
netframework/.vs/netframework/v16/
